body {
    margin: 0px;
    font-size: 17px;
    font-family: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", Meiryo, "メイリオ", serif;
    color: #222;
    overflow-wrap: break-word; /* anywhere is not support several browsers at 2020-02-07 */
    box-sizing: border-box;
}

a {
    color: #005B98;
    text-decoration: none;
    border-bottom: 1px dotted #005B98;
}

a:hover {
    color: #4B0D43;
    text-decoration: none;
    border-bottom: 1px solid #4B0D43;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  border-bottom: none;
}

h1 { font-size: 1.7em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

pre {
    font-family: Menlo, Consolas, sans-serif;
    padding: 7px 30px;
    overflow: scroll;
    overflow-wrap: normal;
}

blockquote {
  border-left: 3px solid #AAA;
  padding-left: 10px;
}

/* 本文で ``foo`` と書いた時にcodeが使われる */
code {
    background-color: #f0f0f0;
    color: #222;
}

dl.field-list dt {
    padding: 5px;
    border: solid #CCC;
    border-width: 1px 1px 0 1px;
}
dl.field-list dd {
    padding: 5px;
    border: solid #CCC;
    border-width: 1px 1px 0 0;
}
dl.field-list dt:nth-last-child(2), dl.field-list dd:last-child {
    border-bottom: 1px solid #CCC;
}

header {
    width: calc(100% - 200px);
    margin: 0 auto;
    text-align: center;
    font-family: Georgia, serif;
    border-bottom: 2px solid #005B98;
}
header .site-name {
    font-size: 2em;
    font-weight: bold;
}
header nav ul {
    margin: 10px 0;
    padding: 0;
}
header nav ul li {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 0.8em;
}
header nav ul li a {
    border-bottom: none;
}
header nav ul li a:hover {
    border-bottom: 1px solid #4B0D43;
}

div.document {
    display: flex;
    flex-wrap: nowrap;
}

div.documentwrapper {
    width: calc(100% - 200px);
    margin: 0 auto;
    padding-bottom: 30px;
}

footer {
    width: calc(100% - 200px);
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    font-size: 0.9em;
    color: #666;
    border-top: 2px solid #005B98;
}

footer a {
    border-bottom: none;
}
footer a:hover {
    border-bottom: 1px solid #4B0D43;
}

a.brackets, a.fn-backref, a.headerlink {
    border: none;
}
a.brackets:hover, a.fn-backref:hover, a.headerlink:hover {
    border-bottom: 1px solid #4B0D43;
}

div.note, div.tip {
    background-color: #EEE;
    border: 1px solid #CCC;
}
div.attention {
    background-color: #FDD;
    border: 1px solid #FCC;
}

/* align in table */
.align-default {
    text-align: left;
}
table.docutils {
    border: 1px solid #666;
}

table.docutils th, table.docutils td {
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
}

/* mobile */
@media screen and (max-width: 800px) {
    header, footer, div.sphinxsidebar, div.documentwrapper {
        margin: 0 auto;
        width: 90%;
    }
    div.document {
        flex-wrap: wrap;
    }
    div.documentwrapper {
        order: 2; /* flex item */
    }
    div.sphinxsidebar {
        order: 1; /* flex item */
    }
}

/* ablog */
ul.ablog-archive {list-style: none; overflow: auto; margin-left: 0px}
ul.ablog-archive li {float: left; margin-right: 5px; font-size: 80%}
ul.postlist a {font-style: italic;}
ul.postlist-style-disc {list-style-type: disc;}
ul.postlist-style-none {list-style-type: none;}
ul.postlist-style-circle {list-style-type: circle;}

/* page.html */
.page-docinfo-pre {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", sans-serif;
}
.page-docinfo-post {
  margin: 20px 0;
}
.page-docinfo-post a {
  border-bottom: none;
}
.page-share {
  margin: 10px 0 20px 0;
  padding: 10px;
  background-color: #EEE;
  font-size: 0.8em;
  color: #111;
}


/* postnavy.html */
.postnavy {
  display: flex;
  align-items: center;
}
.postnavy div {
  flex: 1;
  font-size: 0.9em;
}
.postnavy .nav-icon {
  flex: 0 20px;
  margin: 0 5px;
}
.recommends {
  font-size: 0.9em;
}
