/* custom.css */
/* ???*/
.header-menu li {
  display: inline-block;
  font-size: 1.2em;
  margin-right: 0.8em;
}
.header-menu li a {
  text-decoration: none;
}
.header-menu li a:hover {
  text-decoration: underline;
}

.post-meta {
  float: right;
  width: 160px;
  margin: 0 0 0 30px;
  list-style-type: none;
}
