services:
  ablog:
    build: .
    volumes:
      - .:/work
      # - /work/src/_website
    working_dir: /work/src
    ports:
      - "8000:8000"
    command: ["serve", "-n", "-r"]
  genreq:
    image: python:3.13-slim
    volumes:
      - .:/work
    working_dir: /work
    command: sh gen-requirements.sh
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
