ablog==0.10.12
alabaster==0.7.12
argh==0.26.2
Babel==2.8.0
certifi==2020.11.8
chardet==3.0.4
docutils==0.16
feedgen==0.9.0
idna==2.10
imagesize==1.2.0
invoke==1.4.1
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
packaging==20.4
pathtools==0.1.2
Pygments==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.4
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.0
sphinx-automodapi==0.13
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.5.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.11
watchdog==0.10.3
Werkzeug==1.0.1
