{#- forked from ablog/templates/page.html #}
{%- extends "layout.html" %}

{%- block css %}
  {{ super() }}
  {% if ablog.fontawesome_link_cdn %}
    <link href="{{ ablog.fontawesome_link_cdn }}" rel="stylesheet" />
  {% elif ablog.fontawesome_css_file %}
    <link rel="stylesheet" href="{{ pathto('_static/' + ablog.fontawesome_css_file, 1) }}" type="text/css" />
  {% endif %}
{%- endblock %}

{%- block extrahead %}
  {{ super() }}
  {% if feed_path %}
    <link
      rel="alternate"
      type="application/atom+xml"
      href="{{ pathto(feed_path, 1) }}/atom.xml"
      title="{{ feed_title }}"
    />
  {% endif %}
{%- endblock %}

{%- block body %}
  {%- if (pagename in ablog and ablog[pagename].published) %}
    {%- include "partial/post.html" %}
  {%- else %}
    {{ body }}
  {%- endif %}
{%- endblock %}
