        {%- set post = ablog[pagename] %}
        <main class="body" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          {%- block body %}

          <div class="section page-docinfo-pre">
            <time itemprop="datePublished" datetime="{{ post.date.date().isoformat() }}">{{ post.date.strftime(ablog.post_date_format) }}</time>
            {%- if post.published and post.date != post.update %}
            <span>(Update: <time itemprop="dateModified" datetime="{{ post.update.date().isoformat() }}">{{ post.update.strftime(ablog.post_date_format) }}</time>)</span>
            {%- endif %}
          </div>

          {{ body }}

          <div class="section page-docinfo-post">
            {%- if post.category|length %}
            {%- set collection = post.category[0] %}
            <a href="{{ pathto(collection.docname) }}"><i class="fa-fw fa fa-folder-open"></i>{{ collection }}</a>
            {%- endif %}

            {%- if post.tags %}
            {%- for collection in post.tags %}
            <a href="{{ pathto(collection.docname) }}"><i class="fa-fw fa fa-tag"></i>{{ collection }}</a>
            {%- endfor %}
            {%- endif %}
          </div>

          <div class="section page-share">
            {% set share_title = title + " — " + ablog.blog_title %}
            {% set share_url = ablog.page_url(pagename) + "/" %}
            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet?text={{ share_title|urlencode }}&url={{ share_url|urlencode }}"
               target="_blank"
               style="border-bottom: none;">
              <i class="fa fa-twitter"></i>
            </a>
            <p>
              {{ share_title }}<br/>
              {{ share_url }}
            </p>
          </div>

          <div class="section">
            <h2>Comments</h2>
            <script src="https://utteranc.es/client.js"
              repo="ykrods/note"
              issue-term="pathname"
              label="article-reaction"
              theme="github-light"
              crossorigin="anonymous"
              defer></script>
          </div>

          <div class="section postnavy">
            <div class="nav-icon">
              {% if post.prev %}<i class="fa fa-arrow-circle-left"></i>{% endif %}
            </div>
            <div style="text-align: left">
              {%- if post.prev %}
              <a href="{{ pathto(post.prev.docname) }}{{ anchor(post.prev) }}">
                {{ post.prev.title }}
              </a>
              {%- endif %}
            </div>
            <div style="text-align: right">
              {%- if post.next %}
              <a href="{{ pathto(post.next.docname) }}{{ anchor(post.next) }}">
                {{ post.next.title }}
              </a>
              {%- endif %}
            </div>
            <div class="nav-icon">
              {% if post.next %}<i class="fa fa-arrow-circle-right"></i>{% endif %}
            </div>
          </div>

          <div class="section recommend">
            <h2>Recommends</h2>
            <ul>
              {%- for name,title in recommendeds.items() %}
              {%- if name != pagename + '/' %}
              <li><a href="{{ pathto(name, 1) }}">{{ title }}</a></li>
              {%- endif %}
              {%- endfor %}
            </ul>
          </div>
          {%- endblock %}
        </main>
