{#- forked from ablog/templates/page.html #}
{%- extends "layout.html" %}
{% set fa = ablog.fontawesome %}
{%- block extrahead %}
  {{ super() }}
  {% if feed_path %}
  <link rel="alternate" type="application/atom+xml"  href="{{ pathto(feed_path, 1) }}/atom.xml" title="{{ feed_title }}">
  {% endif %}
  {% if ablog.fontawesome_link_cdn%}
  <link href="{{ ablog.fontawesome_link_cdn }}" rel="stylesheet">
  {% elif ablog.fontawesome_css_file %}
  <link rel="stylesheet" href="{{ pathto('_static/' + ablog.fontawesome_css_file, 1) }}" type="text/css" />
  {% endif %}
{% endblock %}

{% block body %}
  {{ body }}
  <div class="section">
  {% if pagename in ablog %}
    {% include "postnavy.html" %}
    <div style="clear:both;"></div>
  {% endif %}
  {% if (pagename in ablog and ablog[pagename].published) %}
    <div class="section">
      <div class="page-share">
        <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        <p>
          {{ title }} - {{ ablog.blog_title }}<br/>
          {{ ablog.page_url(pagename) }}
        </p>
      </div>
    </div>
    <div class="section">
      <h2>Comments</h2>
      {% include "utterances.html" %}
    </div>
  {% endif %}
  </div>
{% endblock %}
